:root {
--primary-butten-bg-color:  #2196F3;
--secondary-text-colo: #FFFFFF;
--primery-text-color: #757575;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #FFFFFF;
    color: var(--primery-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

a[title] {
    color: #212121;
}

.header > li{
 font-weight: 500;
 line-height: 1.14;
 letter-spacing: 0.02em;
}

header {
 box-shadow: rgba(0, 0, 0, 0.12);
}

.title-a-blue {
    color: #2196F3;
}

.title-a-blue:hover
.title-a-blue:focus{
    color: var(--primary-butten-bg-color);
}

.number {
   color: var(--primery-text-color); 
}

.headline-studio {
 font-weight: 900;
 font-size: 44px;
 line-height: 1.36;
 /* or 136% */
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 color: var(--secondary-text-colo);
}

.active-order {
 font-weight: 700;
 font-size: 16px;
 line-height: 1.88;
 display: flex;
 align-items: center;
 letter-spacing: 0.06em;
 text-align: center;
 color: var(--secondary-text-colo);
}

.advantes-list-titale {
 text-transform: uppercase;
 color: #212121;
 line-height: 1.14;
}

.advantes-list > li {
 line-height: 1.71;
}

.h2-studio{
 font-weight: 700;
 font-size: 36px;
 line-height: 1.17;
 text-align: center;
 color: #212121;
}

.about-us-list {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-colo);
}

.our-team-members {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.19;
 /* identical to box height */
 text-align: center;
 color: #212121;
}

.our-team-list > p {
    text-align: center;
    line-height: 1.19;
}

.our-team {
 background-color: #F5F4FA;   
}

footer {
   background-color: #2F303A;
}

.contacts {
    line-height: 1.71;
}

.contacts-adress {
    color: #FFFFFF;
}

.contacts-phone-email {
    color: rgba(255, 255, 255, 0.6);
}

.footer-join-us {
 text-transform: uppercase;
 line-height: 1.14;
 color: #FFFFFF;
}

.developer {
 line-height: 2;
 text-align: center;
 color: rgba(255, 255, 255, 0.4);
}

.logo {
 font-family: Raleway;
 font-weight: 700;
 font-size: 22px;
 line-height: 1.18;
 letter-spacing: 0.03em;
 color: #2196F3;
}

.logo-studio {
    color: var(--secondary-text-colo); 
}

.filters-list > li {
    line-height: 1.63;
}
.filter-list-all {
    color: #FFFFFF;
}

.filters-list-rest {
    color: #212121;
}

.filters-list {
    font-weight: 500;
    line-height: 1.63;
    text-align: center;

}

.headline-filters:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.h2-portfolio {
    line-height: 2;
    color: #212121;
    letter-spacing: 0.06em;
    font-weight: 700;
}
.our-works-discribe {
    line-height: 1.88;
}

.button {
   background-color: var(--primary-butten-bg-color); 
   color: var(--secondary-text-colo);
}

.advantes-list-attantion:hover
.advantes-list-attantion:focus{
    color: var(--secondary-text-colo);
}

.networks:hover
.networks:focus {
     background-color: var(--primary-butten-bg-color);
}

.button-secondary {
    background: #F5F4FA;
    border-radius: 4px;
}